@import "tailwindcss";
@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');

@font-face {
  font-family: 'Chevadisplay';
  src: url('./assets/fonts/ChevadisplayRegular-1G5ve.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.chevadisplay-font {
  font-family: 'Chevadisplay', sans-serif;
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}